@{ 
    //Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Detail";
    var employee = ViewBag.Employee as Employee;
}
    <h1>@ViewBag.Title</h1>
    <img src="@Url.Content(employee.avatarPath)" alt="Alternate Text" />