<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div style="background-color:gray; height: 30px; width:100% "></div>
    <div>
        @RenderBody()
    </div>
    <div style="background-color: gray; height: 30px; width: 100%">

    </div>
</body>
</html>
