@{
    ViewBag.Title = "Register";
    @model RegisterViewModel;
}
<form enctype="multipart/form-data" asp-controller="Account" asp-action="Register" method="post" class="my-4">
    <div class="card">
        <div class="card-header" style="background-color: #FED770">
            <h1>@ViewBag.Title</h1>
        </div>
        <div class="card-body">
            <div class="form">
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="Email"></label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="Password"></label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-3">
                        <label asp-for="ConfirmPassword"></label>
                    </div>
                    <div class="col-sm-9">
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword"></span>
                    </div>
                </div>
                <div asp-validation-summary="All" class="row form-group text-danger"></div>
            </div>
        </div>
        <div class="card-footer bg-light">
            <button type="submit" class="btn btn-primary">Register</button>
            <a asp-controller="Home" asp-action="Index" class="btn btn-warning mx-2">Back</a>
        </div>
    </div>
</form>
}