@{
    ViewBag.Title = "Product Not Found";
}
    <div class="alert alert-danger mt-2">
        <h1>An occured while processing, the support team notified and we are working on to fix.</h1>
        <hr />
        <h5>Please contact we at nguyendangquanghbt12b7@gmail.com</h5>
        <a asp-controller="Home" asp-action="Index" class="btn btn-warning mx-2">Back</a>
    </div>