
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Site1css.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/bootbox/bootbox.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-info navbar-light">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/images/logo2.jpg" width="40" height="40" class="rounded-circle" alt="HomeLogo" />
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#mainMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav" id="mainMenu">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Create">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Confirm">List</a>
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmModal">
                        Open modal
                    </button>*@
            </li>
        </ul>
    </nav>
    <div class="container">
        <div>
            @RenderBody()
        </div>
    </div>
    <div class="text-center py-4 bg-light">
        ©@System.DateTime.Now.ToString("yyyy-MM-dd") Copyright: <a asp-controller="Home" asp-action="Index">C0120G</a>
    </div>
    @RenderSection("Script", false);
</body>
</html>
